@font-face {
  font-family: 'Arial-MT';
  src: url("../assets/fonts/Arial-MT.woff");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: center;
  background: rgba(181, 207, 255, 0.5);
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
  transition: background-image 1s ease-in-out;
}

.time,
.date,
.greeting,
.quote,
.weather,
.player {
  transition: all .6s ease 0s;
}


.player-icon,
.slider-icon,
.todo-icon,
.change-quote,
.settings-icon,
.volume-icon {
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: .8;
  cursor: pointer;
  transition: .3s;
}

.player-icon:hover,
.slider-icon:hover,
.todo-icon:hover,
.change-quote:hover,
.settings-icon:hover,
.volume-icon:hover {
  opacity: 1;
}

.player-icon:active,
.slider-icon:active,
.todo-icon:active,
.change-quote:active,
.settings-icon:active,
.volume-icon:active {
  border: 0;
  outline: 0;
  transform: scale(1.1);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100vw;
  height: 30vh;
  min-height: 220px;
  padding: 20px;
}

.palyer__name {
  text-align: start;
}

.palyer__timeline {
  background: #ffffff;
  height: 6px;
  width: 100%;
  border-radius: 2px;
  cursor: pointer;
  box-shadow: 0 2px 10px 0 #0008;
  margin-top: 10px;
}

.palyer__progress {
  background: #b5cfff;
  width: 0%;
  height: 100%;
  transition: 0.25s;
}

.palyer__time {
  display: flex;
  justify-content: space-between;
}

.palyer__current,
.palyer__length {
  padding: 5px 0;
  font-size: 10px;
}

.palyer__volume {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
}

.volume-icon {
  width: 20px;
  height: 20px;
  background-image: url("../assets/svg/volume-on.svg");
  background-size: contain;
}

.volume-icon._off {
  background-image: url("../assets/svg/volume-off.svg");
}

.volume__slider {
  visibility: hidden;
  opacity: 0;
  width: 50%;
  height: 5px;
  border-radius: 5px;
  background: white;
  box-shadow: 0 0 20px #000a;
  transition: .25s;
  margin: 0 5px;
  transform: translate(-20px, 0);
}

.palyer__volume:hover .volume__slider {
  visibility: visible;
  opacity: 1;
  transform: translate(0, 0);
}

.volume__percentage {
  background: #b5cfff;
  height: 100%;
  width: 70%;
}

.player-controls {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 10px;
}

.play-list {
  text-align: left;
}

.play-item {
  position: relative;
  padding: 5px;
  padding-left: 20px;
  list-style: none;
  opacity: .8;
  cursor: pointer;
  transition: .3s;
}

.play-item:hover {
  opacity: 1;
}

.play-item::before {
  content: "\2713";
  position: absolute;
  left: 0;
  top: 2px;
  font-weight: 900;
}

.item-active::before {
  color: #C5B358;
}

.play {
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  background-image: url("../assets/svg/play.svg");
}

.pause {
  background-image: url("../assets/svg/pause.svg");
}

.play-prev {
  background-image: url("../assets/svg/play-prev.svg");
}

.play-next {
  background-image: url("../assets/svg/play-next.svg");
}

.weather {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 5px;
  width: 180px;
  min-height: 180px;
  text-align: left;
}

.description-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  column-gap: 12px;
}

.weather-icon {
  font-size: 44px;
}

.city {
  width: 170px;
  height: 34px;
  padding: 5px;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #fff;
  background-color: transparent;
}

.city::placeholder {
  font-size: 20px;
  color: #fff;
  opacity: .6;
}

.weather-error {
  font-weight: 700;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 40vh;
  min-height: 260px;
  padding: 20px;
}

.slider-icon {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  cursor: pointer;
}

.slide-prev {
  left: 20px;
  background-image: url("../assets/svg/slider-prev.svg");
}

.slide-next {
  right: 20px;
  background-image: url("../assets/svg/slider-next.svg");
}

.time {
  min-height: 124px;
  margin-bottom: 10px;
  font-family: 'Arial-MT';
  font-size: 100px;
  letter-spacing: -4px;
}

.date {
  min-height: 28px;
  font-size: 24px;
  margin-bottom: 20px;
}

.greeting {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: center;
  min-height: 48px;
  width: 100vw;
  font-size: 40px;
}

.greeting-text {
  flex: 1;
  padding: 10px;
  text-align: right;
}

.name {
  flex: 1;
  max-width: 50%;
  padding: 10px;
  font-size: 40px;
  text-align: left;
  color: #fff;
  background-color: transparent;
  border: 0;
  outline: 0;
}

.name::placeholder {
  color: #fff;
  opacity: .6;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100vw;
  height: 30vh;
  min-height: 160px;
  padding: 20px;
  position: relative;
}

.change-quote {
  margin-bottom: 30px;
  background-image: url("../assets/svg/reload.svg");
}

.quote-text {
  min-height: 32px;
}

.author {
  min-height: 20px;
}

.settings,
.todo {
  position: absolute;
  bottom: 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.settings__bar,
.todo__container {
  display: none;
  width: 350px;
  border-radius: 5px;
  background-color: #fff;
  opacity: .8;
  color: #2b2b2b;
  padding: 10px;
  margin: 5px;
}

.todo {
  left: 0;
  align-items: flex-start;
}

.todo__container._active {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.todo__list {
  display: flex;
  flex-direction: column;
  padding: 5px 0;
}

.todo__label {
  display: flex;
  align-items: center;
  padding: 5px;
}

.todo__checkbox {
  margin: 0 5px;
}

.todo__input {
  width: 100%;
  font-size: 14px;
  border: 1px solid #ffffff;
  padding: 10px 5px;
  border-radius: 5px;
}

.todo__input:focus {
  outline: none;
}

.todo-icon {
  background-image: url("../assets/svg/todoList.svg");
}

.settings {
  right: 0;
  align-items: flex-end;
}

.settings-icon {
  background-image: url("../assets/svg/settings.svg");
}

.settings__bar._active {
  display: block;
}

.settings__bar>* {
  padding: 5px;
}

.settings__sub-title {
  display: inline;
  text-align: left;
}

.switchLang {
  text-align: start;
}

.lang {
  cursor: pointer;
  padding: 0 5px;
}

.lang._active {
  font-weight: 800;
}

.photoSourse,
.blocks {
  display: flex;
  justify-content: space-between;
}

.photoSourse__label,
.blocks__label {
  display: inline-flex;
  align-items: center;
  padding: 0 5px;
}

.photoSourse__radio,
.blocks__checkbox {
  padding: 0 5px;
  margin-right: 5px;
}

.blocks__checkboxs {
  display: inline-block;
}

._hidden {
  visibility: hidden;
  opacity: 0;
}

@media (max-width: 768px) {
  .weather {
    align-items: flex-end;
  }

  .description-container {
    justify-content: flex-end;
  }

  .city {
    width: 100px;
  }

  .time {
    min-height: 80px;
    font-size: 72px;
  }

  .date {
    font-size: 20px;
  }

  .greeting {
    flex-direction: column;
    min-height: 40px;
    font-size: 32px;
  }

  .greeting-text {
    padding: 5px;
  }

  .name {
    max-width: 220px;
    font-size: 32px;
    padding: 5px;
  }

  .settings__bar {
    width: 290px;
    height: 190px;
  }
}